@model FunTogether.Models.ActivityViewModel

<h3 class="mb-3">Create new activity</h3>
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" method="post">
            <div class="form-group mb-3">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" type="text" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            @* TODO: Firefox compatibility *@
            <div class="form-group mb-3">
                <label asp-for="Date"></label>
                <input asp-for="Date" class="form-control" type="datetime-local" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="ActivityTypeId"></label>
                <select asp-for="Type" asp-items="Html.GetEnumSelectList<FunTogether.Data.ActivityType>()" class="form-select"></select>
            </div>

            <div class="form-group checkbox checkboxlist mb-3">
                <label asp-for="AgeGroups"></label>
                @{
                    for (int i = 0; i < Model.AgeGroups.Count(); i++)
                    {
                        <div>
                            <input type="checkbox" asp-for="@Model.AgeGroups[i].Selected" />
                            <label asp-for="@Model.AgeGroups[i].Id">@Model.AgeGroups[i].Value</label>
                            <input asp-for="@Model.AgeGroups[i].Id" type="hidden" />
                        </div>
                    }
                }
            </div>

            <div class="form-group checkbox checkboxlist mb-3">
                <label asp-for="Genders"></label>
                @{
                    for (int i = 0; i < Model.Genders.Count(); i++)
                    {
                        <div>
                            <input type="checkbox" asp-for="@Model.Genders[i].Selected" />
                            <label asp-for="@Model.Genders[i].Id">@Model.Genders[i].Value</label>
                            <input asp-for="@Model.Genders[i].Id" type="hidden" />
                        </div>
                    }
                }
            </div>

            <div class="form-group mb-3">
                <label asp-for="Location"></label>
                <input asp-for="Location" class="form-control" type="text" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>

            <div id="map" class="mb-3"></div>
            <div class="form-group mb-3" id="infowindow-content">
                <span id="place-name" class="title"></span><br />
                <span id="place-address"></span>
            </div>

            <div class="form-group mb-3">
                <input asp-for="LocationLatitude" class="form-control" type="number" step="any" style="display:none" />
            </div>
            <div class="form-group mb-3">
                <input asp-for="LocationLongitude" class="form-control" type="number" step="any" style="display:none" />
            </div>
            <div class="form-group mb-3">
                <input asp-for="City" class="form-control" style="display:none" />
            </div>

            <div class="form-group mb-3">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create activity" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script defer
            src="https://maps.googleapis.com/maps/api/js?libraries=places&callback=initMap">
    </script>
    <script src="~/js/activity/create.js" type="text/javascript"></script>
}

@section Head {
    <link rel="stylesheet" type="text/css" href="~/css/activity/create.css" />
}
